name: Backend CI

on:
  push:
    branches: [ "main" ]
  pull_request:
    branches: [ "main" ]

jobs:
  test:
    runs-on: ubuntu-latest

    services:
      mysql:
        image: mysql:8
        env:
          MYSQL_ROOT_PASSWORD: root
          MYSQL_DATABASE: imunetrack_test
        ports:
          - 3306:3306
        options: >-
          --health-cmd="mysqladmin ping --silent"
          --health-interval=5s
          --health-timeout=5s
          --health-retries=10

    steps:
      - name: Checkout repository
        uses: actions/checkout@v4

      - name: Install Python
        uses: actions/setup-python@v5
        with:
          python-version: "3.12"

      - name: Install dependencies
        run: pip install -r requirements.txt

      - name: Wait for MySQL
        run: |
          echo "Aguardando MySQL subir..."
          until mysqladmin ping -h 127.0.0.1 --silent; do
            sleep 2
          done

      - name: Set environment variables
        run: echo "DATABASE_URL=mysql+pymysql://root:root@127.0.0.1:3306/imunetrack_test" >> $GITHUB_ENV

      - name: Run pytest
        run: pytest -v
